{% extends 'base.html' %}
{% block content %}



<div class="card" style="width: 20rem;">
    <div class="card-body">
      <h5 class="card-title">{{finch.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{finch.type}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{finch.continent}}</h6>
      {% if finch.age > 0 %}
      <p>Age: {{ finch.age }}</p>
    {% else %}
      <p>Age: hatchling</p>
    {% endif %}
    </div>
    <div>
        <a class="btn btn-primary"  href="{% url 'finches_update' finch.id %}">Edit</a>
        <a class="btn btn-primary"  href="{% url 'finches_delete' finch.id %}">Delete</a>
    </div>
    <div>
      <form action="{% url 'add_feeding' finch.id %}" method="POST">
        {% csrf_token %}
        <!-- Render the inputs -->
        {{ feeding_form.as_p }}
        <input class="btn btn-primary" type="submit" class="btn" value="Add Feeding">
      </form>
      <table class="striped">
        <thead>
          <tr><th>Date</th><th>Meal</th></tr>
        </thead>
        <tbody>
          {% for feeding in finch.feeding_set.all %}
            <tr>
              <td>{{feeding.date}}</td>
              <td>{{feeding.get_meal_display}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
  
    // add additional JS to initialize select below
    const selectEl = document.getElementById('id_meal');
    M.FormSelect.init(selectEl);
  </script>

{% endblock %}